<div class="container">
    <div class="row">
        <div class="col-md-4">
            <app-product-form [product]="product"></app-product-form>
        </div>

        <div class="col-md-8">
            <div *ngIf="products.length === 0" class="card">
                <h5 class="card-header">Products</h5>
                <div class="card-body">
                    <h5 class="card-title"> Produk kamu masih kosong!</h5>
                    <p class="card-text">Isi dulu data produk kamu di Form Sebelah </p>
                </div>
            </div>
            <div *ngIf="products.length > 0" class="card">
                <h5 class="card-header">Product List</h5>
                <div class="card-body">
                    <table datatable [dtOptions]="dtOptions" class="table table-striped" >
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Price</th>
                                <th>Discount</th>
                                <th>Stock</th>
                                <th>Brand</th>
                                <th>QR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of products" (click)="showDetail(p)">
                                <td>{{ p.title }}</td>
                                <td>{{ p.price | currency }}</td>
                                <td>{{ p.discountPercentage | percent }}</td>
                                <td>{{ p.stock }}</td>
                                <td>{{ p.brand }}</td>
                                <td><qr-code [value]="p.title"></qr-code></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>