<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Sign In</h4>
                    <form [formGroup]="requiredForm" (ngSubmit)="onLogin()">
                        <div class="mb-2">
                            <label class="form-label">Username</label>
                            <input [(ngModel)]="loginUser.username" formControlName="username" type="text" class="form-control">
                                <div *ngIf="requiredForm.controls['username'].invalid && requiredForm.controls['username'].touched" class="form-text">
                                    <span *ngIf="requiredForm.controls['username'].errors?.['required']" class="text-danger">
                                        * Required
                                    </span>
                                </div>
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Password</label>
                            <input [(ngModel)]="loginUser.password" formControlName="password" type="password" class="form-control">
                                <div *ngIf="requiredForm.controls['password'].invalid && requiredForm.controls['password'].touched" class="form-text">
                                    <span *ngIf="requiredForm.controls['password'].errors?.['required']" class="text-danger">
                                        * Required
                                    </span>
                                </div>
                        </div>
                        <div class="mb-2">
                            <button type="submit" class="btn btn-primary">Sign In</button>
                        </div>
                        <!-- <p>{{ messageError }}</p> -->
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">

        </div>
    </div>
</div>